@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.success{
  background-color: green;
  color: white;
}

.failure{
  background-color: red;
  color: white;
}

.container{
  @apply bg-blue-500 flex flex-col justify-end mx-auto relative w-full max-w-[345px] shadow-xl p-5;
}

.largeText{
  @apply text-xl font-semibold;
}

.poppins{
  font-family: 'Poppins', sans-serif;
}